$farbeschrift: black;

.textlanesvg{
    font-size: 10;
    text-align: right;
    font-weight: bold;
    fill: $farbeschrift;
}

.textnumbersvg{
    font-size: 10;
    text-align: right;
    font-weight: bold;
    fill: white;
}
  
.gradient_lane {
    stop-color: rgba(198,4,36, 1);;
}

.gradient_name {
    //stop-color: rgba(28, 100, 158, 0.678);
    stop-color: rgba(255, 255, 255, 0.612);
    stop-opacity: 1;
}

.gradient_name_end {
    stop-color: rgba(255, 255, 255, 0.612);
    stop-opacity: 1;
}

.gradient_place {
    stop-color:  rgb(0, 255, 0);
}

.textplacesvg{
    font-size: 10;
    text-align: right;
    font-weight: bold;
    fill: black;
}
